ul {
  list-style-type: none;
}

.nav-list {
  margin-right: 1.5em;
  display: flex;
}

.nav-item {
  margin-left: 1.5em;
}

.nav-item a {
  font-weight: 600;
  text-transform: lowercase;
}

.nav-hamburger {
  display: none;
}

.nav-item a:hover{
  text-decoration: underline;
}

@media (max-width: 600px) {
  .nav-list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .nav-item {
    margin: 0.5em 0;
  }

  .nav_hamburger {
    display: flex;
    margin-left: 0.8em;
    z-index: 2;
  }
}